.c_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #04A4CE;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  box-sizing: border-box;

  &:hover {
    background: #13CAFD;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  &:active {
    box-shadow: none;
  }
}

.c_button--disabled {
  opacity: 0.5;

  &:hover {
    background: #04A4CE;
    box-shadow: none;
    cursor: default;
  }
}

.c_button--full {
  width: 100%;
}
