.c-text_input {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #919193;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.c-text_input--bm6 {
  position: relative;
  background: #E3DBED;
  border: none;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.c-text_input--bm6:before {
  content: ' ';
  position: absolute;
  top: -4px;
  left: -4px;
  border: 2px solid #F56FA1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 4px;
  z-index: 1;
}
.c-text_input__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  font-size: 15px;
  position: relative;
  z-index: 2;
}
.c-text_input__label {
  width: 100%;
  font-family: 'Helvetic Neue', sans-serif;
  margin-bottom: 8px;
}
